<!--<p class="lead text-center">This is the footer section.z-depth-1</p>-->
<footer class="page-footer grey lighten-1 z-depth-2 center  ">
    <a href="https://www.facebook.com/anu.iyer.14"> <img src="static/icons/social-1_logo-facebook.svg" /></a>
    <a href="https://www.linkedin.com/in/"> <img src="static/icons/social-1_logo-linkedin.svg" /></a>
    <a href="https://twitter.com/?lang=en"> <img src="static/icons/social-1_logo-twitter.svg" /></a>
    <a href="https://in.pinterest.com/"> <img src="static/icons/social-1_round-pinterest.svg" /></a>
    <a href="https://plus.google.com/"> <img src="static/icons/social-1_logo-google-plus.svg" /></a>
    <a href="https://Skype.com"> <img src="static/icons/social-1_logo-skype.svg" /></a>
    <div class="footer-copyright  grey ">
        <div class="container ">
            © 2016 Copyright Information
        </div>
    </div>
</footer>
