<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
   <div >
    <h2>Sign Up</h2>
  <form class="contactform col s12" novalidate=""  >
      <div class="row">
           <div class="input-field col s12">
              First Name:
                 <input type="text" n id="text" id="firstname"  name="firstname" placeholder="Name"  ng-model="firstname"></textarea>
             
           </div>
      </div>
      <div class="row">
           <div class="input-field col s12">
              Last Name:
                 <input type="text" id="text" id="lastname" type="name" name="lastname" placeholder="Name"  ng-model="lastname"></textarea>
             
           </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <input placeholder="Email" id="email" type="email" name="email"  ng-model="email">
            <label for="Email">Email</label>
         </div>
      </div> 
       <div class="row">
         <div class="input-field col s12">
            <input placeholder="Password" id="password" type="password" name="password"  ng-model="password">
            <label for="password">Password</label>
         </div>
      </div>  
       <div class="row">
         <div class="input-field col s12">
            <input placeholder="Tell us about your self"  type="text" name="aboutyou"  ng-model="aboutyou">
            <label for="aboutyou">Tell us about your self</label>
         </div>
      </div>    
      <div class="row">
         <div class="input-field col s12">
             <!-- <button class="btn waves-effect waves-teal"  ng-click="submitclicked()">Submit</button> -->
             <input class="waves-effect waves-light btn" type="button" name="" value="Login" ng-click="signup()"  >
         </div>
      </div>
  </form>
</div>
<div>
</body>
</html>