 <div style="margin-left: 10px">
 	<h2>Update</h2>
  <form class=" col s12" novalidate=""  >
     <!--  <div class="row">
           <div class="input-field col s12">
              First Name:
                 <input type="text" n id="text" id="firstname"  name="firstname" placeholder="Name"  ng-model="firstname">
             
           </div>
      </div>
      <div class="row">
           <div class="input-field col s12">
              Last Name:
                 <input type="text" id="text" id="lastname" type="name" name="lastname" placeholder="Name"  ng-model="lastname">
           </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
         	Email:
            <input placeholder="Email" id="email" type="email" name="email"  ng-model="email">
         </div>
      </div> 
       <div class="row">
         <div class="input-field col s12">
         	Tell us about your self
            <input placeholder="Tell us about your self"  type="text" name="aboutyou"  ng-model="aboutyou">
         </div>
      </div>   -->
      <div class="row">
      	File to be Updated:
         <div class="input-field col s12">
            <input placeholder="Old file"  type="text" name="oldfile"  ng-model="oldfile">
            <!-- <label for="Oldfile">Old File</label> -->
         </div>
      </div> 
      <div class="row">	
      	Select New File:
		<div class="input-field col s12">
			<input class="" id="newfile" type="file"  name="newFile" >
			 <!-- <label for="newfile">New File</label> -->
		</div>
	</div>   
      <div class="row">
         <div class="input-field col s12">
             <!-- <button class="btn waves-effect waves-teal"  ng-click="submitclicked()">Submit</button> -->
             <input class="waves-effect waves-light btn" type="button" name="" value="Update" ng-click="updatefile()"  >
         </div>
      </div>
  </form>
</div>  